<section class="section1">
  <div class="container-fluid pt-2 pb-2">
    <div class="d-flex">
      <ngx-radial
        [percentage]="percentage"
        [rounded]="true"
        [fontSize]="50">
        uploading
      </ngx-radial>
      <ngx-radial
        class="m-3"
        [stroke]="8"
        [size]="80"
        [fontSize]="20"
        [percentage]="percentage">
      </ngx-radial>
      <ngx-radial
        [stroke]="7"
        [size]="40"
        [fontSize]="12"
        [percentage]="percentage">
      </ngx-radial>
    </div>
  </div>
</section>
<section class="section2">
  <div class="container-fluid pt-2 pb-2">
    <div class="d-flex">
      <ngx-radial
        class="m-3"
        color="#ECC418"
        placeholderColor="#3B4555"
        fontColor="white"
        [percentage]="percentage"
        [rounded]="true"
        [fontSize]="50">
        uploading
      </ngx-radial>
      <ngx-radial
        class="m-3"
        color="#ECC418"
        placeholderColor="#3B4555"
        fontColor="white"
        [stroke]="8"
        [size]="80"
        [fontSize]="20"
        [percentage]="percentage">
      </ngx-radial>
      <ngx-radial
        class="m-3"
        color="#ECC418"
        placeholderColor="#3B4555"
        fontColor="white"
        [stroke]="7"
        [size]="40"
        [fontSize]="12"
        [percentage]="percentage">
      </ngx-radial>
    </div>
  </div>
</section>

